*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

body {
    background: #000;
    height: 500vh;
}
header li {
    display: flex;

    width: 100vw;
    height: 5vh;
}
header ul {
    display: flex;
    justify-content: end;
    position: fixed;
    color: white;
    text-decoration: none;
}

.wrapper {
    position: relative;
    height: 250vh;
}

canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vh;
    max-height: 100vw;
}

.constructor-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 5rem;
}

p {
    font: white;
    z-index: 1;
}